.viettel-infomation__deep {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20rem;


	&__change {
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: white;
		position: absolute;
		transition: all 2s;
		margin-left: 8rem;

		&--1 {
			z-index: 1111;
			opacity: 0;
			visibility: hidden;
		}

		&--2 {
			z-index: 2222;
			opacity: 0;
			visibility: hidden;
		}

		&--3 {
			z-index: 3333;
			opacity: 0;
			visibility: hidden;
		}

	}

	&--left {
		background: rgba($color-primary,.5);
		margin-right: 5rem;
		height: 40vh;
		width: 50rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


		& h3 {
			font-size: 2.2rem;
			font-weight: 1.5rem;
			margin-bottom: 2rem;
			text-transform: capitalize;
			color: $color-secondary-light;
		}

		& p {
			font-size: 1.6rem;
			font-weight: .8rem;
			color: black;
		}
	}

	&--right {

		&-img {
			height: 45vh;
			width: 50rem;
		}
	}
}

.active {
	opacity: 1;
	visibility: visible;
	z-index: 99999;
}